* {
    margin: 0;
    padding: 0;
}

.box-minmax {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #ffffff;
}

.rs-range {
    margin-top: 15px;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    background: #23232e;
    border-radius: 5px;
    background-image: linear-gradient(#0071fe, #0071fe);
    background-size: 0% 100%;
    background-repeat: no-repeat;
}

.rs-label {
    pointer-events: none;
    background: #23232e;
    position: relative;
    top: 36px;
    display: block;
    width: 60px;
    padding: 5px 0px 5px 0px;
    border-radius: 6px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    transition: background 200ms ease, top 200ms ease;
}

.rs-background {
    background-color: #0071fe;
    top: 0px;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 0.5rem;
}

input[type='range']::-webkit-slider-thumb {
    appearance: none;
    margin-top: -8px;
    background-color: #0071fe;
    height: 25px;
    border-radius: 100px;
    width: 25px;
    transition: all 200ms ease;
}

input[type='range']:hover::-webkit-slider-thumb {
    margin-top: -7px;
    height: 22px;
    border-radius: 100px;
    width: 22px;
}

input[type='range']:hover::-webkit-slider-thumb div {
    background-color: #0071fe;
}
