.responsive-container {
    max-width: 454px;
    width: 100%;
}
.responsive-spacer-container {
    margin-left: 10px;
    border-radius: 14px;
}
.responsive-iframe-container {
    margin-right: 10px;
    max-width: 208px;
}
video {
    border-radius: 14px;
}

@media (min-width: 1749px) {
    .responsive-create-camera-img {
        margin: 0px;
    }
    .responsive-create-camera-img img {
        padding: 0px;
        aspect-ratio: 16/5;
    }
}

@media (max-width: 1749px) {
    .responsive-container {
        width: 100%;
    }
    .responsive-spacer-container {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        max-width: 100%;
        height: 100%;
        margin-left: 0px;
    }
    .responsive-iframe-container {
        max-width: 100% !important;
        margin-right: 0px;
    }
    .responsive-flex-container {
        flex-direction: column;
    }
    video {
        border-radius: 0px;
        z-index: 2;
        aspect-ratio: 1/1;
    }
}
