.shape {
    animation: rotate 1.5s linear infinite;
}

.shape .gradient-bg {
    animation: dash 4s ease-in-out infinite;
    stroke: url(#shape-gradient);
    fill: none;
    stroke-width: 0.25;
    stroke-linecap: round;
}

.spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
